@media (max-width: 600px) {
    .navigation-list {
        gap: 12px;
    }
}


@media (max-width: 800px) {
    .navigation-list {
        gap: 20px;
    }
}

@media (max-width: 600px) {
    .navigation-list li a {
        padding: 8px 12px;
        font-size: 14px;
    }
}

@media (max-width: 800px) {
    .navigation-list a:hover {
        background-color: var(--cor-10);
    }
}

@media (max-width: 800px) {
    .navigation-list a {
        background: var(--cor-11);
        padding: 12px 16px;
        border-radius: 4px;
    }
}

@media (min-width: 800px) {
    .navigation-list li>a:hover::after {
        width: 100%;
    }
}

@media (max-width: 800px) {
    .titulo {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media (max-width: 800px) {
    .titulo-container p {
        font-size: 16px;
    }
}


@media (max-width: 1200px) {
    .titulo-container h1 {
        font-size: 32px;
    }
}


@media (max-width: 800px) {
    .bicicleta-container {
        grid-template-columns: 1fr;
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media (max-width: 800px) {
    .bicicleta-imagens {
        grid-row: 2;
    }
}

@media (max-width: 1200px) {
    .bicicleta-conteudo p {
        font-size: 1.125rem;
    }
}

@media (max-width: 600px) {
    .botao {
        padding: 12px 16px;
        font-size: 1rem;
    }
}

@media (max-width: 800px) {
    .bicicletas-lista-container {
        padding-bottom: 60px;
    }
}

@media (max-width: 800px) {
    .bicicletas-lista-container {
        font-size: 2rem;
    }
}

@media (max-width: 1200px) {
    .bicicletas-lista-container {
        font-size: 3rem;
    }
}

@media (max-width: 800px) {
    .bicicletas-lista-container ul {
        gap: 20px;
    }
}

@media (max-width: 800px) {
    .bicicletas-lista-container h2 {
        font-size: 2rem;
    }
}

@media (max-width: 400px) {
    .bicicleta-comprar {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 400px) {
    .bicicleta-informacoes {
        grid-template-columns: 1fr;
    }
}


@media (max-width: 800px) {
    .seguro {
        box-shadow: inset 0 -60px var(--cor-12);
    }
}

@media (max-width: 800px) {
    .seguro-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 800px) {
    .seguro-conteudo {
        grid-row: 1;
        padding-top: 40px;
        padding-bottom: 0;
    }
}


@media (max-width: 800px) {
    .seguro-conteudo h2 {
        font-size: 32px;
    }
}


@media (max-width: 1200px) {
    .seguro-conteudo h2 {
        font-size: 3rem;
    }
}

@media (max-width: 1200px) {
    .seguro-conteudo p {
        font-size: 1.125rem;
    }
}




@media (max-width: 600px) {
    .footer-container {
        grid-template-columns: 1fr;
        gap: 60px;
    }
}

@media (max-width: 1200px) {
    .footer-container h3 {
        font-size: 1.125rem;
    }
}

@media (max-width: 800px) {
    .logo {
        display: none;
    }
}